# Dependencies
node_modules/
.sdk/

# Anchor build
target/
.anchor/

# Lock files
Cargo.lock
yarn.lock

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Environment
.env
.env.local
.env.*

# Logs
*.log

# TypeScript
dist/
*.js.map

.vercel
